@model HeThongQuanLyCongTacKhaoThi.ViewModels.Catalog.Subjects.SubjectCURequest

@{
    ViewData["Title"] = "Tạo môn học";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tạo môn học</h1>

<h4>Mẫu biểu tạo môn học</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="AssiduousScorePercent" class="control-label"></label>
                <input asp-for="AssiduousScorePercent" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="FrequentScorePercent" class="control-label"></label>
                <input asp-for="FrequentScorePercent" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="MiddleScorePercent" class="control-label"></label>
                <input asp-for="MiddleScorePercent" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="FinalScorePercent" class="control-label"></label>
                <input asp-for="FinalScorePercent" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="CreditCount" class="control-label"></label>
                <input asp-for="CreditCount" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo môn học" class="btn btn-primary" /> |
                <a class="btn btn-outline-primary" asp-action="Index">Quay lại danh sách môn học</a>
            </div>
        </form>
    </div>
</div>