@model HeThongQuanLyCongTacKhaoThi.ViewModels.System.Accounts.RoleAssignRequest

@{
    ViewData["Title"] = "RoleAssign";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>RoleAssign</h1>

<h4>RoleAssignRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RoleAssign">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            @for (var i = 0; i < Model.Roles.Count; i++)
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" asp-for="Roles[i].Selected">
                    <label class="form-check-label" asp-for="Roles[i].Selected">
                        @Model.Roles[i].Name
                    </label>
                    <input type="hidden" asp-for="Roles[i].Id" class="form-control" />
                    <input type="hidden" asp-for="Roles[i].Name" class="form-control" />
                </div>
                <span asp-validation-for="Roles[i].Name" class="text-danger"></span>
            }
            <div class="form-group">
                <input type="submit" value="Lưu lại" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

