@model int

<div class="form-group">
    <label class="control-label">Môn học</label>
    <div class="form-inline">
        <select name="subjectIDs[@Model]" class="form-control mr-2 col-lg-8 col-xl-10" asp-items="ViewBag.Subjects"></select>
        <button id="remover-subject" name="remover-subject" type="button" class="btn btn-primary">
            <i class="fa fa-trash"></i>
        </button>
    </div>
</div>