@using HeThongQuanLyCongTacKhaoThi.ViewModels.Catalog.Contests
@model List<ContestViewModel>

@{
    ViewData["Title"] = "Details";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Danh sách các kỳ kiểm tra của môn "@ViewData["SubjectName"]"</h1>
</div>
<h2 class="h4 mb-0 text-gray-800">Kỳ kiểm tra chưa hoàn tất</h2>
<hr />
<div class="row mt-4">
    @foreach (ContestViewModel contest in Model)
    {
        <div class="col-md-6 col-lg-3">
            <a class="text-decoration-none" asp-action="RandomExamFollowContestID"
               asp-controller="Contest"
               asp-all-route-data="@(new Dictionary<string, string> { { "ContestID", contest.ID.ToString() } })">
                <div class="exam" style="cursor:pointer">
                    <div class="card border-left-primary shadow mb-4">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@contest.Name</div>
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 mt-3">
                                        Số lượng câu hỏi trắc nghiệm: @*@contest.MultipleChoiceQuestionCount*@
                                    </div>
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Số lượng câu hỏi tự luận: @*@contest.EssayQuestionCount*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
</div>
<h2 class="h4 mb-0 text-gray-800">Kỳ kiểm tra đã hoàn tất</h2>
<hr />