@model HeThongQuanLyCongTacKhaoThi.ViewModels.Catalog.Exams.ExamViewModel
@{
    ViewData["Title"] = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">@Model.Name</h1>
</div>

<div>
    <form asp-action="Details">
        <dl class="row">
            @for (int i= 0;i<Model.ExamDetails.Count; i++)
            {
                <dt class="col-12">
                    <hr>
                    <h3 class="text-bold h4 text-gray-700">Câu @(i+1)</h3>
                    <hr>
                </dt>
                var question = Model.ExamDetails[i].Question;

                @await Html.PartialAsync("_QuestionDetail", question);
            }
        </dl>
        <input type="hidden" asp-for="ID"/>
        <input type="hidden" asp-for="SubjectID"/>
        <input type="hidden" asp-for="ContestID"/>
        <div class="form-group">
            <input type="submit" value="Nộp bài" class="btn btn-primary" />
        </div>
    </form>
</div>
@section Scripts{ 
    <script>
        $(window).bind("beforeunload", function (event) {
            return "You have unsaved changes";
        });
    </script>
}