@model HeThongQuanLyCongTacKhaoThi.ViewModels.Catalog.Questions.QuestionViewModel

<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Content)
</dt>
<dd class="col-sm-10">
    <textarea rows="5" class="form-control editor-disabled">@Html.DisplayFor(model => model.Content)</textarea>
</dd>

@if (Model.IsMultipleChoice)
{
    <dt class="col-sm-2">
        Chọn đáp án đúng
    </dt>
    <dd class="col-sm-10">
        @for (int i = 0; i < Model.Answers.Count; i++)
        {
            <div class="form-check">
                <input class="form-check-input" type="radio" name="AnswerOfStudent[@Model.ID]" id="Answer[@Model.ID@i]" value="@Model.Answers[i].ID">
                <div class="form-check-label editor-disabled" for="Answer[@Model.ID@i]">
                    @Model.Answers[i].Content
                </div>
            </div>
        }
        <input name="IsMultipleChoice" type="hidden" value="true">
    </dd>
}
else
{
    <dt class="col-sm-2">
        Nhập câu trả lời
    </dt>
    <dd class="col-sm-10">
        <textarea rows="5" class="form-control editor" name="AnswerOfStudent[@Model.ID]"></textarea>
        <input name="IsMultipleChoice" type="hidden" value="false">
    </dd>
}