@model HeThongQuanLyCongTacKhaoThi.ViewModels.Catalog.Questions.QuestionCURequest

@{
    ViewData["Title"] = "Tạo câu hỏi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tạo câu hỏi</h1>

<h4>Mẫu biểu tạo câu hỏi</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SubjectID" class="control-label"></label>
                <input asp-for="SubjectID" class="form-control" />
                <span asp-validation-for="SubjectID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupID" class="control-label"></label>
                <input asp-for="GroupID" class="form-control" />
                <span asp-validation-for="GroupID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" rows="5" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsMultipleChoice" /> @Html.DisplayNameFor(model => model.IsMultipleChoice)
                </label>
            </div>
            <div class="form-group" id="AnswerCountDiv">
                <label class="control-label">Số lượng đáp án</label>
                <input class="form-control" id="AnswerCount" type="number" value="2" min="2" max="6" />
            </div>
            <div id="answers">
                @for (int i = 0; i < 2; i++)
                {
                <div class='form-group'>
                    <label class='control-label'> Nội dung đáp án thứ @(i + 1)</label>
                    <div class='row mx-0'>
                        <input class='col-md-11 form-control' type='text' name='answerCreateUpdateRequests[@i].Content' value=''>
                        <input class='col-md-1 form-check-input position-static mx-0 mt-auto mb-auto' type='checkbox' data-val='true' name='answerCreateUpdateRequests[@i].IsCorrect' value='true'>
                    </div>
                </div>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo câu hỏi" class="btn btn-primary" /> |
                <a class="btn btn-outline-primary" asp-action="Index">Quay lại danh sách câu hỏi</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {

            $("#AnswerCount").change(function () {
                $("#answers").empty();

                var answerCount = $(this).val();
                for (var i = 0; i < answerCount; i++) {
                    var answer =
                        "<div class='form-group'>" +
                            "<label class='control-label'> Nội dung đáp án thứ " + (i + 1) + "</label>" +
                            "<div class='row mx-0'>" +
                                "<input class='col-md-11 form-control' type='text' name='answerCreateUpdateRequests[" + i + "].Content' value=''>" +
                                "<input class='col-md-1 form-check-input position-static mx-0 mt-auto mb-auto' type='checkbox' data-val='true' name='answerCreateUpdateRequests[" + i + "].IsCorrect' value='true'>" +
                            "</div>" +
                        "</div>";
                    $("#answers").append(answer);
                }

            });

            if (!$("#IsMultipleChoice").prop("checked")) {
                $("#AnswerCountDiv").hide();
                $("#answers").hide();
            }
            $("#IsMultipleChoice").change(function () {
                if (this.checked) {
                    $("#AnswerCountDiv").show();
                    $("#answers").show();
                } else {
                    $("#AnswerCountDiv").hide();
                    $("#answers").hide();
                }
            });
        });
    </script>
}